body {
    background-color: #726cf8;
    background-image: linear-gradient(315deg, #726cf8 0%, #e975a8 74%);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

main {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

h1 {
    font-size: 24px;
    margin-right: 10px;
    color: #000;
}

.box {
    font: 2em sans-serif;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 10px;
    font-style: oblique;
    color: #000;
}

.date {
    font-size: 30px;
}

#myTrack img {
    margin-top: 20px;
    height: 40px;
}

.box img {
    height: 60px;
}

.profile-container {
    margin-right: 20px;
    position: relative; 
}

.profile-container img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    margin-top: 20px;
}

.image-description {
    position: relative;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 24px;
    color: black;
}
